In [1]:
import rioxarray

In [2]:
rds = rioxarray.open_rasterio("../input/nighttime_lights_2010.tif")
rds.name = "data"

In [3]:
df = rds.squeeze().to_dataframe().reset_index()
df

                   y          x  band  spatial_ref      data
0           0.000000 -60.000000     1            0 -0.034737
1           0.000000 -59.995833     1            0  0.001693
2           0.000000 -59.991667     1            0  0.033907
3           0.000000 -59.987500     1            0  0.021527
4           0.000000 -59.983333     1            0 -0.010808
...              ...        ...   ...          ...       ...
449279995 -64.995834  59.979168     1            0  1.127972
449279996 -64.995834  59.983334     1            0  1.105502
449279997 -64.995834  59.987501     1            0  1.092358
449279998 -64.995834  59.991668     1            0  1.102387
449279999 -64.995834  59.995834     1            0  1.080560

[449280000 rows x 5 columns]

In [4]:
df = df[((df.y < -8.00) & (df.y > -19.00)) & ((df.x < -37.00) & (df.x > -47.00))]
df

                   y          x  band  spatial_ref      data
55299120   -8.000000 -47.000000     1            0  0.027000
55299121   -8.000000 -46.995833     1            0  0.011034
55299122   -8.000000 -46.991667     1            0  0.005883
55299123   -8.000000 -46.987500     1            0  0.022931
55299124   -8.000000 -46.983333     1            0  0.011497
...              ...        ...   ...          ...       ...
131304715 -18.995833 -37.020833     1            0 -0.045159
131304716 -18.995833 -37.016666     1            0 -0.030032
131304717 -18.995833 -37.012500     1            0 -0.027893
131304718 -18.995833 -37.008333     1            0 -0.056945
131304719 -18.995833 -37.004166     1            0 -0.041762

[6336000 rows x 5 columns]

In [10]:
nighttime_lights = df[['y','x','data']].rename({'y':'lat', 'x':'long', 'data': 'radiance'}, axis=1)
nighttime_lights

                 lat       long  radiance
55299120   -8.000000 -47.000000  0.027000
55299121   -8.000000 -46.995833  0.011034
55299122   -8.000000 -46.991667  0.005883
55299123   -8.000000 -46.987500  0.022931
55299124   -8.000000 -46.983333  0.011497
...              ...        ...       ...
131304715 -18.995833 -37.020833 -0.045159
131304716 -18.995833 -37.016666 -0.030032
131304717 -18.995833 -37.012500 -0.027893
131304718 -18.995833 -37.008333 -0.056945
131304719 -18.995833 -37.004166 -0.041762

[6336000 rows x 3 columns]

In [11]:
nighttime_lights.to_csv('../model/nightlights_ba.csv', index=False)