In [1]:
import rioxarray

In [2]:
rds = rioxarray.open_rasterio("../input/nighttime_lights_2016.tif")
rds.name = "data"

In [3]:
df = rds.squeeze().to_dataframe().reset_index()

In [8]:
## y = lat
## x = long
## lat bahia -8, -19
## long bahia -47, -37

# df = df[(df.y > -34.0) & (df.x < -33.0)]
df = df[((df.y < -8.00) & (df.y > -19.00)) & ((df.x < -37.00) & (df.x > -47.00))]

In [10]:
nighttime_lights = df[['y','x','data']].rename({'y':'lat', 'x':'long', 'data': 'radiance'}, axis=1)
nighttime_lights

                 lat       long  radiance
55299120   -8.000000 -47.000000  0.027000
55299121   -8.000000 -46.995833  0.011034
55299122   -8.000000 -46.991667  0.005883
55299123   -8.000000 -46.987500  0.022931
55299124   -8.000000 -46.983333  0.011497
...              ...        ...       ...
131304715 -18.995833 -37.020833 -0.045159
131304716 -18.995833 -37.016666 -0.030032
131304717 -18.995833 -37.012500 -0.027893
131304718 -18.995833 -37.008333 -0.056945
131304719 -18.995833 -37.004166 -0.041762

[6336000 rows x 3 columns]

In [11]:
nighttime_lights.to_csv('../model/nightlights_ba.csv', index=False)