In [1]:
import pandas as pd
import numpy as np

In [3]:
nightlights = pd.read_csv('../model/nightlights_per_city.csv')
nightlights

,lat,long,radiance,geometry,index_right,NM_MUNICIP,CD_GEOCMU
0,-8.533333,-39.383333,0.116815,POINT (-39.3833331684 -8.5333334016),172,CURAÇÁ,2909901
1,-8.533333,-39.379167,0.103567,POINT (-39.3791665017 -8.5333334016),172,CURAÇÁ,2909901
2,-8.537500,-39.395833,0.880825,POINT (-39.395833168500005 -8.5375000683),172,CURAÇÁ,2909901
3,-8.537500,-39.391667,0.184479,POINT (-39.3916665018 -8.5375000683),172,CURAÇÁ,2909901
4,-8.537500,-39.387500,0.136107,POINT (-39.3874998351 -8.5375000683),172,CURAÇÁ,2909901
...,...,...,...,...,...,...,...
2706401,-17.995833,-39.637500,0.024543,POINT (-39.637499837099995 -17.9958334773),61,NOVA VIÇOSA,2923001
2706402,-17.995833,-39.633333,0.013221,POINT (-39.6333331704 -17.9958334773),61,NOVA VIÇOSA,2923001
2706403,-17.995833,-39.491667,0.020918,POINT (-39.4916665026 -17.9958334773),61,NOVA VIÇOSA,2923001
2706404,-18.000000,-39.641667,0.041632,POINT (-39.6416665038 -18.000000144),61,NOVA VIÇOSA,2923001
2706405,-18.000000,-39.637500,0.035396,POINT (-39.637499837099995 -18.000000144),61,NOVA VIÇOSA,2923001

In [4]:
city_center_coordinates = pd.read_csv('../model/city_center_coordinates.csv')
city_center_coordinates

     CD_GEOCODM            NM_MUNICIP  NM_UF       LONG        LAT
0       2900108                ABAÍRA  BAHIA -41.661608 -13.253532
1       2900207                 ABARÉ  BAHIA -39.116588  -8.723418
2       2900306             ACAJUTIBA  BAHIA -38.018286 -11.662613
3       2900355              ADUSTINA  BAHIA -38.115506 -10.529572
4       2900405             ÁGUA FRIA  BAHIA -38.768078 -11.872931
..          ...                   ...    ...        ...        ...
412     2933307  VITÓRIA DA CONQUISTA  BAHIA -40.839810 -14.848005
413     2933406                WAGNER  BAHIA -41.169627 -12.284251
414     2933455             WANDERLEY  BAHIA -43.888930 -12.120150
415     2933505   WENCESLAU GUIMARÃES  BAHIA -39.479671 -13.688588
416     2933604           XIQUE-XIQUE  BAHIA -42.725508 -10.824974

[417 rows x 5 columns]

In [57]:
def euclideanDistance(lat, long, code):
    city_center = city_center_coordinates[city_center_coordinates['CD_GEOCODM'] == code].iloc[0]
    if city_center is None:
        return 0
    else:
        return np.sqrt((lat - city_center.LAT)**2 + (long - city_center.LONG)**2)

In [58]:
nightlights['distance'] = nightlights.apply(lambda x: euclideanDistance(x.lat, x.long, x.CD_GEOCMU), axis=1)
nightlights

,lat,long,radiance,geometry,index_right,NM_MUNICIP,CD_GEOCMU,distance
0,-8.533333,-39.383333,0.116815,POINT (-39.3833331684 -8.5333334016),172,CURAÇÁ,2909901,0.694998
1,-8.533333,-39.379167,0.103567,POINT (-39.3791665017 -8.5333334016),172,CURAÇÁ,2909901,0.698149
2,-8.537500,-39.395833,0.880825,POINT (-39.395833168500005 -8.5375000683),172,CURAÇÁ,2909901,0.682846
3,-8.537500,-39.391667,0.184479,POINT (-39.3916665018 -8.5375000683),172,CURAÇÁ,2909901,0.685978
4,-8.537500,-39.387500,0.136107,POINT (-39.3874998351 -8.5375000683),172,CURAÇÁ,2909901,0.689120
...,...,...,...,...,...,...,...,...
2706401,-17.995833,-39.637500,0.024543,POINT (-39.637499837099995 -17.9958334773),61,NOVA VIÇOSA,2923001,0.284567
2706402,-17.995833,-39.633333,0.013221,POINT (-39.6333331704 -17.9958334773),61,NOVA VIÇOSA,2923001,0.280684
2706403,-17.995833,-39.491667,0.020918,POINT (-39.4916665026 -17.9958334773),61,NOVA VIÇOSA,2923001,0.157517
2706404,-18.000000,-39.641667,0.041632,POINT (-39.6416665038 -18.000000144),61,NOVA VIÇOSA,2923001,0.289964
2706405,-18.000000,-39.637500,0.035396,POINT (-39.637499837099995 -18.000000144),61,NOVA VIÇOSA,2923001,0.286093

In [63]:
nightlights.drop(['index_right', 'distance'], inplace=True, axis=1)

In [65]:
nightlights.columns = ['lat','long','radiance','city','city_code','dist_to_city']
nightlights

               lat       long  radiance         city  city_code  dist_to_city
0        -8.533333 -39.383333  0.116815       CURAÇÁ    2909901      0.694998
1        -8.533333 -39.379167  0.103567       CURAÇÁ    2909901      0.698149
2        -8.537500 -39.395833  0.880825       CURAÇÁ    2909901      0.682846
3        -8.537500 -39.391667  0.184479       CURAÇÁ    2909901      0.685978
4        -8.537500 -39.387500  0.136107       CURAÇÁ    2909901      0.689120
...            ...        ...       ...          ...        ...           ...
2706401 -17.995833 -39.637500  0.024543  NOVA VIÇOSA    2923001      0.284567
2706402 -17.995833 -39.633333  0.013221  NOVA VIÇOSA    2923001      0.280684
2706403 -17.995833 -39.491667  0.020918  NOVA VIÇOSA    2923001      0.157517
2706404 -18.000000 -39.641667  0.041632  NOVA VIÇOSA    2923001      0.289964
2706405 -18.000000 -39.637500  0.035396  NOVA VIÇOSA    2923001      0.286093

[2706406 rows x 6 columns]

In [66]:
nightlights.to_csv('../model/coordinates_with_distances.csv', index=False)